<div style='width: 1000px; height: 827px;'>
<div class='tableauPlaceholder'>
    <object class='tableauViz' width='1000'
    height='827' style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='&#47;t&#47;aetrex' />
    <param name='name' value='DataPortal-2&#47;Dashboard1' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='no' />
    <param name='showAppBanner' value='false' />
</object>

</div>
        <div class="row pt-5" >
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="row">
                    <div class="col-1 text-right" style="margin: auto;">
                        <a class="navigation" href="#carouselExampleIndicators2" data-slide="prev">
                            <span class="material-icons md-18">arrow_back_ios</span>
                        </a>
                        <!-- <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="fa fa-arrow-right">Next</i>
                        </a> -->
                    </div>
                    <div class="col-10 carousel-inner" style="width:83%">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">US Size</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["US Size"].Male}}
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["US Size"].Female}}
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Length</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["Length"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["Length"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Width</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["Width"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["Width"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Instep Width</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["InstepWidth"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["InstepWidth"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Heel Width</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["HeelWidth"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["HeelWidth"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Girth</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["Girth"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["Girth"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Ball Height</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["BallHeight"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["BallHeight"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Ball Width</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["BallWidth"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["BallWidth"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Ball Girth</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["BallGirth"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["BallGirth"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Dorsal Height</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["DorsalHeight"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["DorsalHeight"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Short Heel Girth</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["ShortHeelGirth"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["ShortHeelGirth"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:medium;">Max Toe Height</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["MaxToeHeight"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["MaxToeHeight"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="card text-white bg-secondary mb-3" style="min-height:142px;">
                                        <div class="card-header" style="font-size: medium;">Long Heel Girth</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["LongHeelGirth"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["LongHeelGirth"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3">
                                        <div class="card-header" style="font-size: medium;">Ankle Girth</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["AnkleGirth"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["AnkleGirth"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:14px;">Length to 1st Met Head</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["LengthToFirstMetHead"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["LengthToFirstMetHead"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-header" style="font-size:14px;">Length to 5th Met Head</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["LengthToFifthMetHead"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["LengthToFifthMetHead"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="card text-white bg-secondary mb-3" style="min-height:142px;">
                                        <div class="card-header" style="font-size:medium;">Arch Height</div>
                                        <div class="card-body">
                                          <p class="card-text">
                                            Male: {{data["ArchHeight"].Male}}&nbsp;cm
                                          </p>
                                          <p class="card-text">
                                            Female: {{data["ArchHeight"].Female}}&nbsp;cm
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-1" style="margin: auto;">
                        <a class="navigation" href="#carouselExampleIndicators2" data-slide="next">
                            <span class="material-icons md-18">arrow_forward_ios</span>
                        </a>
                    </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-12 text-center">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="4"></li>
                          </ol>
                          </div>
                    </div>
                </div>

        </div>
        <div style="text-align:center;">
            <button (click)="openDialog()" class="MDbutton"> 
                Measurement Definitions</button>
        </div>
</div>



