.emptyLine{
    height: 2px;
    width: 50%;
    margin-left: 25%;
}
.card{
    border-radius: 10px;
    max-height: 200px;
    min-height: 142px;
    /* max-width: 13rem; */
    text-align: center;
    background-color: rgba(147, 157, 166, 1) !important;
}
.card-title{
font-size: medium   ;
}

/* .btn-primary {
    color: #fff;
    background-color: #939da6;
   border: none;
   font-size: xx-small;
} */
.mr-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-text{
    font-size: small;
}
.carousel-indicators li{
        background-color: #5a6970;
}
.navigation{
    color: #5a6970;
}
