.emptyLine{
    height: 2px;
    width: 50%;
    margin-left: 25%;
}
.card{
    border-radius: 10px;
    max-height: 200px;
    /* max-width: 13rem; */
    text-align: center;
    background-color: rgba(147, 157, 166, 1) !important;
}
.card-title{
font-size: small;
}
.card-text{
font-size: small;
}
.btn-primary {
    color: #fff;
    background-color: #e2463c;
   border: none;
}
.mr-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-text{
    font-size: large;
}
.carousel-indicators li{
        background-color: #5a6970;
}
.navigation{
    color: #5a6970;
}
