<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000'
    height='827' style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='&#47;t&#47;aetrex' />
    <param name='name' value='DataPortal-2&#47;Dashboard1' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='no' />
    <param name='showAppBanner' value='false' />
</object></div>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left">Prev</i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right">Next</i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">US Size</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Length</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Width</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Instep Height</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Instep Width</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Instep Girth</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Ball Height</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Ball Width</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Ball Girth</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Heel Width</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Short Heel Girth</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Long Heel Girth</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Arch Height</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Ankle Girth</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Length to 1st Met Head</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Length to 5th Met Head</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 12
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Max Toe Height</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Ankle Girth</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Length to 1st Met Head</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 8
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card text-white bg-secondary mb-3" >
                                        <div class="card-body">
                                          <h2 class="card-title">Length to 5th Met Head</h2>
                                            <h4>N/A</h4>
                                          <hr class="emptyLine">
                                          <p class="card-text">
                                            Male: 10.5
                                          </p>
                                          <p class="card-text">
                                            Female: 12
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

