<div style="margin-right:10px;min-height:100%;padding: 10px;"> 
 
<div class="flex-container" style="width: 100%;background-color: white;">
    <div style="flex-grow: 1">
      <form [formGroup]="Gender">
        <label style="color: black;"><p style="font-size: medium;margin-left: 15px;">Gender</p></label>
        <div *ngIf="dropdownListGender" class="container">
                <ng-multiselect-dropdown
                formControlName = "Gender"
                class="multiselect"
                [placeholder]="'Select Gender'"
                [(ngModel)]="selectedItems"
                [settings]="dropdownSettings"
                [data]="dropdownListGender"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)">
              </ng-multiselect-dropdown>
              <span *ngIf="Gender.touched && (!Gender.value.Gender || Gender.value.Gender.length==0)" class="validation">
                * required {{Gender.value.Gender}}
              </span>
        </div>
        </form>
    </div>
    <div style="flex-grow: 1">
        <label style="color: black;"><p style="font-size: medium;margin-left: 15px;">Country</p></label>
        <form [formGroup]="Country">
        <div *ngIf="dropdownListCountry" class="container">
                <ng-multiselect-dropdown
                formControlName = "Country"
                class="multiselect"
                [placeholder]="'Select Country'"
                [(ngModel)]="selectedItemsCountry"
                [settings]="dropdownSettings"
                [data]="dropdownListCountry"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)">
              </ng-multiselect-dropdown>
              <span *ngIf="Country.touched && (!Country.value.Country || Country.value.Country.length==0)" class="validation">
                * required {{Country.value.Gender}}
              </span>
        </div>
      </form>
    </div>
    <div style="flex-grow: 1">
        <label style="color: black;"><p style="font-size: medium;margin-left: 15px;">US-Size</p></label>
        <form [formGroup]="USSize">
        <div *ngIf="dropdownListUSSize" class="container">
                <ng-multiselect-dropdown
                formControlName = "USSize"
                 class="multiselect"
                [placeholder]="'Select US-Size'"
                [settings]="dropdownSettings"
                [(ngModel)]="selectedItemsUSSize"
                [data]="dropdownListUSSize"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)">
              </ng-multiselect-dropdown>
        </div>
      </form>
    </div>
    <div style="flex-grow: 1">
        <label style="color: black;"><p style="font-size: medium;margin-left: 15px;">Measurements</p></label>
        <form [formGroup]="Measurements">     
        <div *ngIf="dropdownListMeasurements" class="container">   
                <ng-multiselect-dropdown
                 class="multiselect"
                 formControlName = "Measurements"
                [placeholder]="'Select Measurements'"
                [(ngModel)]="selectedItemsMeasurements"
                [settings]="dropdownSettings"
                [data]="dropdownListMeasurements"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)">
              </ng-multiselect-dropdown>
        </div>
      </form>
    </div>
    <div style="flex-grow: 1">
        <label style="color: black;"><p style="font-size: medium;margin-left: 15px;">Statistics</p></label>
        <form [formGroup]="Statistics">     
        <div *ngIf="dropdownListStatistics" class="container">                
                <ng-multiselect-dropdown
                formControlName = "Statistics"
                 class="multiselect"
                [placeholder]="'Select Statistics'"
                [settings]="dropdownSettings"
                [data]="dropdownListStatistics"
                (onSelect)="onItemSelect($event)"
                [(ngModel)]="selectedItemsStatistics"
                (onSelectAll)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)">
              </ng-multiselect-dropdown>
        </div>
      </form>
    </div>
  </div>
  <div class="example-header" *ngIf="Statistics.valid && Measurements.valid && USSize.valid && Country.valid && Gender.valid" style="padding: 20px;padding-left: 15px;">
    <button class="fetchData" (click)="onsubmit()" mat-raised-button mat-button color="primary" width="250px">Fetch Data</button>
</div>
<div class="example-header" *ngIf="!(Statistics.valid && Measurements.valid && USSize.valid && Country.valid && Gender.valid)" style="padding: 20px;padding-left: 15px;">
  <button class="fetchData" [disabled]="true" (click)="onsubmit()" mat-raised-button mat-button color="primary" width="250px">Fetch Data</button>
</div>
<div *ngIf="showTable"  style="margin:0;">
  <!-- <button mat-raised-button (click)="addColumn()" style="margin-left:85%;margin-bottom:5px;"> Download csv </button> -->
  <button mat-raised-button style="margin-left:85%;margin-bottom:5px;" (click)="exporter.exportTable('csv',{fileName:'DataPortal_data'}) ">Downalod CSV</button> 
  <div class="table-responsive example-container ">
      <mat-table matTableExporter #table [dataSource]="dataSource" #exporter="matTableExporter" class="mat-elevation-z8" >
          <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
              <mat-header-cell *matHeaderCellDef style="position:sticky;">{{disCol}}</mat-header-cell>
              <mat-cell *matCellDef="let element "> {{element[disCol]}}
              </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" style="background-color: #d9eaef;position: sticky !important;"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
</div>
  <div *ngIf="Nodata">
    <h3> No data Available for the selection </h3>
  </div>
<div *ngIf="showTable" style="text-align:center;padding: 5px;margin-right:60px;">
  <button (click)="openDialog()" class="MDbutton" > 
      Measurement Definitions
  </button>
  <!-- <a  class="example-icon" (click)="openDialog()" mat-raised-button style="background-color:rgb(111, 166, 203);color: #131212d9;margin: 16px ">Measurement Definitions</a> -->
</div>
</div>


