h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .flex-container {
    display: flex;
    background-color: #f1f1f1;
    width: fit-content;
  }
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }

//   .mat-table {
//     overflow: scroll;
//     max-height: 500px;
//     // text-align: left;
//     // /* margin: 20px; */
//     // margin-left: -11px;
//   }
//   .mat-header-row {
//     top: 0;
//     position: sticky;
//     z-index: 1;
//     background-color: inherit;
// }
  .flex-container > div {
    color: white;
    // margin: 10px;
    // text-align: center;
    // line-height: 75px;
    // font-size: 30px;
  }
  .fetchData{
        text-align: left;
        margin: 20px;
        margin-left: 0px;
  }
  .multiselect{
    font-size: 11px !important;
      width:50% !important;
  }
  .multiselect-dropdown{
    width:50% !important;
    font-size: 11px !important;
  }
  ::ng-deep {
    .is-invalid {
      .dropdown-btn {
        border: 1px solid red !important;
      }
    }
    .multiselect-dropdown {
        color: black;
        width:80% !important;
      .dropdown-btn {
        .dropdown-multiselect__caret{
            color: black;
            margin-top: -2px !important;
            right: -28px !important;
        }
        .selected-item {
          &:hover {
            box-shadow: 1px 1px 2px 0px #5a5a5a !important;
          }
        }
      }
    }
  }