<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
    <object class='tableauViz' width='1000'
        height='827' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;aetrex' />
        <param name='name'
            value='Book2&#47;Dashboard1&#47;a09cae06-797b-4791-a1e9-035f61a0000d&#47;feabef94-b91c-4109-a3e3-78c274d8a9e6' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
    </object>
</div>