<app-header></app-header>

<mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8">
            <a routerLink="/dashboard" routerLinkActive="active">
                <button mat-button class="menu-button" (click)="clickEvent()">
                    Summary
                </button> 
            </a> 
        <mat-divider></mat-divider>
        <a routerLink="/dashboard2" routerLinkActive="active">
            <button mat-button class="menu-button" (click)="clickEvent()">
               Measurements
            </button>
        </a> 
        <mat-divider></mat-divider>
        <a routerLink="/dashboard3" routerLinkActive="active">
            <button mat-button class="menu-button" (click)="clickEvent()">
                Average 3D Foot
             </button>
            </a>
        <mat-divider></mat-divider>
        <a routerLink="/dashboard4" routerLinkActive="active">
            <button mat-button class="menu-button">
                Data Export 
             </button>
            </a>
        <mat-divider></mat-divider>
        <a routerLink="">
            <button mat-button class="menu-button">
                <h3 style="font-size: large;">Advanced Data <br />Export<sup style="font-size:xx-small;padding:3px">Premium</sup></h3>
             </button>
            </a>
        <mat-divider></mat-divider>

    </mat-sidenav>
    <mat-sidenav-content>
   <div class="content mat-elevation-z8" *ngIf="dashboard1">
            <!-- <script type='text/javascript'
                src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
            <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz'
                    width='1000' height='827' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='&#47;t&#47;aetrex' />
                    <param name='name' value='DataPortal-1&#47;Dashboard1' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='showAppBanner' value='false' />
                </object></div>
        </div>  -->
        <!-- <div class="content mat-elevation-z8" *ngIf="dashboard2">
            <script type='text/javascript'
                src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
            <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz'
                    width='1000' height='827' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='&#47;t&#47;aetrex' />
                    <param name='name' value='DataPortal-1&#47;Dashboard3' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='showAppBanner' value='false' />
                </object></div>
        </div> -->
        <router-outlet></router-outlet>
    </div> 
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-footer></app-footer> -->