.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar{
    background-color:rgb(217, 234, 239);
  }
  .header-text{
    margin-left: 23%;
    font-size: x-large;
    color: #5e94b8;
    font-family: Lato, sans-serif;
    font-weight: bold;
    margin-left: 27%;
  }
  /* .AppLogo{
    height: 68px;
    margin-top: 5px;
  } */