<mat-toolbar style="background-color:#054388">
    <mat-toolbar-row>
        <span><img class="AppLogo" src="../../../assets/images/images.png" alt="Aetrex" width="100%" height="auto">
        </span>
        <span class="example-spacer"></span>
        <a  *ngIf="!(isLoggedIn | async)" class="example-icon" [routerLink]="['login']" routerLinkActive="active-link" mat-raised-button color="primary">Login</a>
        <!-- <a class="example-icon"  *ngIf="!(isLoggedIn | async)" mat-raised-button color="warn" routerLinkActive="list-item-active" [routerLink]="['signup']">Signup</a> -->
        <a class="example-icon"  *ngIf="(isLoggedIn | async)" mat-raised-button color="primary" routerLinkActive="list-item-active" (click)="logout()">Logout</a>
        <!-- <a class="account_circle"  *ngIf="(isLoggedIn | async)" mat-raised-button colo="primary"><span class="material-icons">account_circle</span></a> -->
    </mat-toolbar-row>
</mat-toolbar>
