<script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
<div style='width: 1000px; height: 827px;'>
<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000'
        height='827' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;aetrex' />
        <param name='name' value='DataPortal-1&#47;Dashboard3' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
        <param name='showAppBanner' value='false' />
    </object>
</div>
<div style="text-align:center;margin-top: -18px;">
    <button (click)="openDialog()" class="MDbutton"> 
        <!-- <a  class="example-icon" (click)="openDialog()" mat-raised-button style="background-color:rgb(111, 166, 203);color: #131212d9;margin: 16px ">
            MD?
        </a> -->
        Measurement Definitions</button>
    <!-- <a  class="example-icon" (click)="openDialog()" mat-raised-button style="background-color:rgb(111, 166, 203);color: #131212d9;margin: 16px ">Measurement Definitions</a> -->
</div>
</div>