<div class='tableauPlaceholder' style='width: 1000px;height: 547px;'>
    <form [formGroup]="fetch3dfootForm" (ngSubmit)="onformSubmit()">
    <div class="flex-container" style="width: 65%;float: left;">

         <div style="flex-grow:4;">
        <mat-form-field>
          <mat-label style="color: black; font-size: medium;">Country</mat-label>
            <mat-select formControlName="items" placeholder="select Country" [(ngModel)]="selectedValue1" name="item" style="margin-bottom:10px;">
                <mat-option *ngFor="let item of items" [value]="item.value">{{item.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        <div style="flex-grow:4;">
            <mat-form-field>
            <mat-label style="color: black;font-size: medium;">Gender</mat-label>
            <mat-select formControlName="items2" placeholder="Select Gender" [(ngModel)]="selectedValue2" name="item2" style="margin-bottom:10px;">
                <mat-option *ngFor="let item of items2" [value]="item.value">{{item.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        <div style="flex-grow:4;">
            <mat-form-field>
            <mat-label style="color: black;font-size: medium;">Size</mat-label>
            <mat-select formControlName="items3" placeholder="Select size" [(ngModel)]="selectedValue3" name="item3" style="margin-bottom:10px;">
                <mat-option *ngFor="let item of items3" [value]="item.value">{{item.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
    </div>

    <div class="flex-container">
        <div>
            <button type="button" (click)="onformSubmit()" class="btn mat-raised-button"style="margin: 10px;">Fetch 3D Foot</button>
        </div>
        <div>
            <button type="button" class="btn mat-raised-button"style="margin: 10px;">Download STL</button>
        </div>
    </div>
    </form>
   
    <div *ngIf="load3dFoot" style="margin-top:20px" >
        <div class="modal-feet">
            <app-threedfeetmodule [lfoot]="lfoot" [rfoot]="rfoot"></app-threedfeetmodule>
        </div>     
    </div>
    <div *ngIf ="!load3dFoot && onload "style="margin-top:20px">
        <h3 style="color: black;">Sorry! No data Available please Select diffrent Parameters</h3>
    </div>

</div> 
<div style="text-align:center;padding: 5px;">
    <button (click)="openDialog()" class="MDbutton"style="margin-right:60px;" > 
        Measurement Definitions</button>
    <!-- <a  class="example-icon" (click)="openDialog()" mat-raised-button style="background-color:rgb(111, 166, 203);color: #131212d9;margin: 16px ">Measurement Definitions</a> -->
  </div>
