.flex-container {
    display: flex;
    flex-flow: row wrap;
  }
  
  .flex-container > div {
    background-color: #ffffff;
    margin: 10px;
    text-align: left;
    line-height: 30px;
    font-size: small;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  table, th, td {
    border:1px solid black;
    font-size: 15px;
    color: black;
  }
  th{
    background-color: #eac8c8;
  }
  .main div {
    float: left;
    clear: none;
}
::ng-deep .mat-select-panel-wrap::-webkit-scrollbar {
  -webkit-appearance: none;
}

::ng-deep .mat-select-panel-wrap::-webkit-scrollbar:vertical {
  width: 11px;
}

::ng-deep .mat-select-panel-wrap::-webkit-scrollbar:horizontal {
  height: 11px;
}

::ng-deep .mat-select::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}